<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>과제_짭짤한맛_YS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .photo {
            background-image: url('https://cdn.wadiz.kr/ft/images/green001/2018/0711/20180711002648763_19.jpg/wadiz/format/jpg/quality/80/optimize');
            background-size: cover;
            background-position: center;
            width: 500px;
            height: 400px;
            margin: auto;
        }

        .wrap {
            width: 500px;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        h1, h5 {
            display: inline;
        }

        .order {
            margin-top: 20px;
            text-align: center;
        }

        .exrate-font {
            color: blue;
            font-size: 20px;
        }
    </style>
    <script>
        function order() {
            let name = $("#order-name").val();
            let count = $("#order-count").val();
            let address = $("#order-address").val();
            let phone = $("#order-phone").val();

            if (name == "") {
                alert("이름을 입력해주세요")
                $("#order-name").focus()
                return
            } else if (count == "") {
                alert("수량을 입력해주세요")
                $("#order-count").focus()
                return
            } else if (address == "") {
                alert("주소를 입력해주세요")
                $("#order-address").focus()
                return
            } else if (phone == "") {
                alert("휴대폰번호를 입력해주세요")
                $("#order-phone").focus()
                return
            } else {
                $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {
                        name_give: name,
                        count_give: count,
                        address_give: address,
                        phone_give: phone
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert("주문이 완료되었습니다")
                        }

                    }
                })

            }
        }


        $(document).ready(function () {
            $("#orders-box").html("");
            showOrders();
        });

        function showOrders() {
            $.ajax({
                type: "GET",
                url: "/order",
                success: function (response) {
                    if (response["result"] == "success") {
                        let orders = response["orders"]
                        for (let i = 0; i < orders.length; i++) {
                            makeOrderRow(
                                orders[i]['name'],
                                orders[i]['count'],
                                orders[i]['address'],
                                orders[i]['phone'])
                        }
                    }

                }
            })
        }

        function makeOrderRow(name, count, address, phone) {
            let tempHtml = `<tr>
                                <td>${name}</td>
                                <td>${count}</td>
                                <td>${address}</td>
                                <td>${phone}</td>
                              </tr>`;

            $("#orders-box").append(tempHtml);
        }

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                success: function (response) {
                    console.log(response)
                    $("#ex-rate").text(response[1]["rate"]);
                }

            })
        });


    </script>
</head>
<body>
<div class="wrap">
    <div class="photo"></div>
    <p class="wrap">
    <p></p>
    <h1>인센스 홀더 판매</h1> <h5>가격 : 3000원/개</h5>
    <p></p>
    <p>설명 블라블라</p>
    <div class="exrate-font"> 달러-원 환율 : <span id="ex-rate"></span>
    </div>
    <p></p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">주문자 이름</span>
        </div>
        <input type="text" class="form-control" id="order-name" aria-describedby="basic-addon3">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">수량</label>
        </div>
        <select class="custom-select" id="order-count">
            <option selected value=""> -- 수량을 선택하세요 --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">주소</span>
        </div>
        <input type="text" class="form-control" id="order-address" aria-describedby="basic-addon3">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">전화번호</span>
        </div>
        <input type="text" class="form-control" id="order-phone" aria-describedby="basic-addon3">
    </div>
    <div class="order">
        <button onclick="order()" type="button" class="btn btn-primary">주문하기</button>
    </div>
    <div></div>
    <div class="orders">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">수량</th>
                <th scope="col">주소</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <p>
                <tbody id="orders-box">
                <tr>
                    <td>이름</td>
                    <td>수량</td>
                    <td>주소</td>
                    <td>010-1234-5678</td>
                </tr>

                </tbody>
        </table>
    </div>
</div>
</body>
</html>